<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users are here</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full min-h-screen bg-zinc-900 p-5">
    <a class="underline text-blue-500" href="/">go for create account</a>
    <div class="py-3 px-5 mt-5">
        <h1 class="underline text-3xl text-white ">All Users</h1>
        <div class="users m-10 flex gap-3 flex-wrap">

            <%if (users.length > 0){%>
                <% users.forEach((user)=>{ %>
                    <div class="user bg-zinc-800 w-56 rounded-lg p-3 text-white text-xl">
                        <div class="img bg-zinc-600 rounded-lg h-52 overflow-hidden "><img
                                class="w-full h-full object-cover" src="<%= user.Image %>" alt="this is a img"></div>
                        <h2 class="text-xl tracking-tighter mt-3">
                            <%=user.name%>
                        </h2>
                        <h6 class="tracking-tighter mt-1/2 text-zinc-600 text-base">
                            <%=user.email%>
                        </h6>
                        <div class="options flex gap-3 mt-1 justify-end">
                            <a class="underline text-blue-500 text-sm " href="/edit/<%= user._id %>">edit</a>
                            <a class="underline text-red-500 text-sm " href="/delete/<%= user._id%>">delete</a>
                        </div>
                    </div>
                    <%})%>

                        <%}else{%>
                            <h3 class="text-zinc-600">no more accounts</h3>
                            <%}%>


        </div>
    </div>
</body>

</html>